@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Code', 'Source Code Pro', 'Courier New', monospace;
  }

  body {
    background-color: #000;
    color: hsl(210, 40%, 92%);
    font-family: var(--font-mono);
  }
}
